<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <title>RMS - Legal Step</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    rel="stylesheet">
  <link href="./../src/vendor/select2-4.0.5.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="./../dist/css/rms.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand"><img alt="Retail Merchant Services" src="https://www.retailmerchantservices.co.uk/media/2015/rms-logo-svg.svg"
        width="160"></div>
  </nav>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3">

      </div>

      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-lg-8">
            <ul class="pagination pagination-steps has-titles">
              <li class="page-item active">
                <span class="page-item-title">
                  Legal
                </span>
                <a class="page-link" href="./legal-entity-form.with-js.html">1</a>
              </li>
              <li class="page-item">
                <span class="page-item-title">
                  Principal
                </span>
                <a class="page-link" href="./principal-form-registered.html">2</a>
              </li>
              <li class="page-item">
                <span class="page-item-title">
                  Location
                </span>
                <a class="page-link" href="./location-form.html">3</a>
              </li>
              <li class="page-item">
                <span class="page-item-title">
                  Review
                </span>
                <a class="page-link" href="./review-form.html">4</a>
              </li>
              <li class="page-item">
                <span class="page-item-title">
                  Signature
                </span>
                <a class="page-link" href="./signature-form.html">5</a>
              </li>
            </ul>
          </div>
        </div>

        <h1 class="mt-1 mb-3">Legal Entity</h1>

        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="form-group">
              <select class="form-control" id="legal-entities-picker" name="legal-entities-picker" placeholder="Hey">
                <option disabled selected value="">
                  Select a flow
                </option>
                <option value="unregistered-uk">
                  Unregistered UK
                </option>
                <option value="registered-uk">
                  Registered UK
                </option>
                <option value="unregistered-roi">
                  Unregistered ROI
                </option>
                <option value="registered-roi">
                  Registered ROI
                </option>
              </select>
            </div>

            <form class="js-legal-entity-form d-none" data-entity-type="unregistered-uk">
              <div class="form-group">
                <label for="business-name">Business Name:</label>
                <input class="form-control" id="business-name" name="business-name" placeholder="e.g. Retail Management Services" type="text">
              </div>
              <div class="form-group">
                <label for="business-phone">Business Phone Number:</label>
                <input class="form-control" id="business-phone"
                  name="business-phone" placeholder="e.g. 020 8907 0000" type="tel">
              </div>

              <button class="btn btn-primary" data-target="#js-modal-find-address" data-toggle="modal" type="button">
                <i class="fas fa-search"></i>
                <span>Find</span>
              </button>

              <hr>

              <div class="js-business-details-form d-none">
                <h5>Business Address</h5>

                <div class="form-group">
                  <label for="business-address-postcode">Postcode:</label>
                  <input class="form-control" id="business-address-postcode" name="business-address-postcode" placeholder="e.g. W4 1NX" type="text">
                </div>

                <div class="form-group">
                  <button class="btn btn-primary js-postcode-lookup" type="button">Lookup Postcode</button>
                </div>

                <div class="form-group">
                  <label for="business-address-line-1">Address:</label>
                  <input class="form-control" id="business-address-line-1" name="business-address-line-1" type="text" placeholder="e.g. Floor 2">
                </div>

                <div class="form-group">
                  <input class="form-control" id="business-address-line-2" name="business-address-line-2" type="text" placeholder="e.g. 100 London Street">
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="business-address-city">City:</label>
                      <input class="form-control" id="business-address-city" name="business-address-city" type="text"  placeholder="e.g. London">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="business-address-country">Country</label>
                      <input type="text" readonly class="form-control-plaintext" id="business-address-country" value="United Kingdom">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input checked class="custom-control-input js-address-merchant-opt" id="business-address-merchant-opt-in" name="business-address-merchant-opt-in"
                      type="checkbox">
                    <label class="custom-control-label" for="business-address-merchant-opt-in">Send my merchant statement here</label>
                  </div>
                </div>

                <div class="js-merchant-address-form d-none">
                  <hr>

                  <h5>Merchant Address</h5>

                  <div class="form-group">
                    <label for="merchant-address-postcode">Postcode:</label>
                    <input class="form-control" id="merchant-address-postcode" name="merchant-address-postcode" placeholder="e.g. W4 1NX" type="text">
                  </div>

                  <div class="form-group">
                    <button class="btn btn-primary" type="button">Lookup Postcode</button>
                  </div>

                  <div class="form-group">
                    <label for="merchant-address-line-1">Address:</label>
                    <input class="form-control" id="merchant-address-line-1" name="merchant-address-line-1" type="text" placeholder="e.g. Floor 2">
                  </div>

                  <div class="form-group">
                    <input class="form-control" id="merchant-address-line-2" name="merchant-address-line-2" type="text" placeholder="e.g. 100 London Street">
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="merchant-address-city">City:</label>
                        <input class="form-control" id="merchant-address-city" name="merchant-address-city" type="text" placeholder="London">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="merchant-address-country">Country</label>
                        <input type="text" readonly class="form-control-plaintext" id="merchant-address-country" value="United Kingdom">
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="form-group">
                  <label for="business-date-start">Business Start Date:</label>
                  <input class="form-control js-business-date-start" id="business-date-start" name="business-date-start" type="date">
                </div>

                <div class="form-group">
                  <label for="business-date-ownership">Ownership Date:</label>
                  <input class="form-control" id="business-date-ownership" name="business-date-ownership" type="date">
                </div>

                <div class="form-group">
                  <label for="business-turnover">Business Turnover p/a:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">£</span>
                    </div>
                    <input type="number" class="form-control js-business-turnover" aria-label="Amount" placeholder="e.g. 10000">
                  </div>
                </div>

                <div class="form-group js-vat-group d-none">
                  <div class="alert alert-info" role="alert">
                    As the business you filled in either started at least 6 months ago, or the business turnover is at least £85,000 p/a, you will need to provide a VAT number for this business as well.
                  </div>

                  <label for="business-vat">VAT Number:</label>
                  <input class="form-control" id="business-vat" name="business-vat" type="text" placeholder="e.g. GB 102102102">
                  <small class="form-text text-muted">
                    <a data-target="#js-modal-custom-vat" data-toggle="modal" href="#">I do not have a VAT number</a>
                  </small>
                </div>

                <div class="form-group">
                  <label for="business-operating-countries">Countries which the business operates in:</label>
                  <select class="js-operating-countries" id="business-operating-countries" multiple="multiple" name="countries[]">
                    <option value="DK">
                      Denmark
                    </option>
                    <option value="IE">
                      Ireland
                    </option>
                    <option value="IT">
                      Italy
                    </option>
                    <option value="JP">
                      Japan
                    </option>
                    <option value="SE">
                      Sweden
                    </option>
                    <option value="UK">
                      United Kingdom
                    </option>
                  </select>
                </div>

                <hr>

                <div class="form-group">
                  <label for="business-contact-website">Website:</label>
                  <input class="form-control" id="business-contact-website"
                    name="business-contact-website" placeholder="e.g. https://www.example.com" type="text">
                </div>

                <div class="form-group">
                  <label for="business-contact-phone">Contact Phone Number:</label>
                  <input class="form-control" id="business-contact-phone"
                    name="business-contact-phone" placeholder="e.g. 020 8907 0000" type="tel">
                </div>

                <div class="form-group">
                  <label for="business-contact-mobile">Contact Mobile Number:</label>
                  <input class="form-control" id="business-contact-mobile"
                    name="business-contact-mobile" placeholder="e.g. 07989 123 123" type="tel">
                </div>

                <div class="form-group">
                  <label for="business-contact-email">Email:</label>
                  <input class="form-control" id="business-contact-email"
                    name="business-contact-email" placeholder="e.g. email@gmail.com" type="email">
                </div>

                <hr>

                <a class="btn btn-primary btn-block" href="./principal-form-registered.html">Next</a>
              </div>
            </form>

            <form class="js-legal-entity-form d-none" data-entity-type="registered-uk">
              <h2>Form for Registered UK</h2>
            </form>

            <form class="js-legal-entity-form d-none" data-entity-type="unregistered-roi">
              <h2>Form for Unregistered ROI</h2>
            </form>

            <form class="js-legal-entity-form d-none" data-entity-type="registered-roi">
              <h2>Form for Registered ROI</h2>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div aria-hidden="true" aria-labelledby="find-address-label" class="modal fade" id="js-modal-find-address" role="dialog"
    tabindex="-1">
    <div class="modal-dialog" role="document">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Addresses Found</h5><button aria-label="Close" class="close"
              data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="custom-control custom-radio">
                <input checked class="custom-control-input" id="business-address-1" name="business-address" type="radio"
                  value="address-1"> <label class="custom-control-label" for="business-address-1">Address 1</label>
              </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" id="business-address-2" name="business-address" type="radio" value="address-2">
                <label class="custom-control-label" for="business-address-2">Address 2</label>
              </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" id="business-address-3" name="business-address" type="radio" value="address-3">
                <label class="custom-control-label" for="business-address-3">Address 3</label>
              </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" id="business-address-4" name="business-address" type="radio" value="address-4">
                <label class="custom-control-label" for="business-address-4">Address 4</label>
              </div>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" id="business-address-manual" name="business-address" type="radio"
                  value="manual"> <label class="custom-control-label" for="business-address-manual">Enter address
                  manually</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
            <button class="btn btn-primary js-find-address-submit" type="submit">Select</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div aria-hidden="true" aria-labelledby="find-address-label" class="modal fade" id="js-modal-custom-vat" role="dialog"
    tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Select a category and type your number</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="corporate-tax-id">Corporate Tax ID:</label>
              <input class="form-control" id="corporate-tax-id" name="corporate-tax-id" type="text">
            </div>

            <div class="form-group">
              <label for="income-tax-number">Income Tax Number:</label>
              <input class="form-control" id="income-tax-number" name="income-tax-number" type="text">
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input js-business-charity-option" id="business-charity-option" type="checkbox">
                <label class="custom-control-label" for="business-charity-option">This business is a charity</label>
              </div>
            </div>

            <div class="form-group js-charity-number-group d-none">
              <label for="charity-number">Charity Number:</label>
              <input class="form-control" id="charity-number" name="charity-number" type="text">
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
            <button class="btn btn-primary" data-dismiss="modal" type="button">Add Number</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="./../dist/js/rms.js"></script>
</body>

</html>
