<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <title>RMS - Signature</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    rel="stylesheet">
  <link href="./../src/vendor/select2-4.0.5.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="./../dist/css/rms.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="navbar-brand"><img alt="Retail Merchant Services" src="https://www.retailmerchantservices.co.uk/media/2015/rms-logo-svg.svg"
        width="120"></div>
  </nav>
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-3">
        Sidebar
      </div>

      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-lg-8">
            <ul class="pagination pagination-steps has-titles">
              <li class="page-item page-item-complete">
                <span class="page-item-title">
                  Legal
                </span>
                <a class="page-link" href="./legal-entity-form.with-js.html">
                  <i class="fas fa-check-circle"></i>
                </a>
              </li>
              <li class="page-item page-item-incomplete">
                <span class="page-item-title">
                  Principal
                </span>
                <a class="page-link" href="./principal-form-registered.html">
                  <i class="fas fa-exclamation-triangle"></i>
                </a>
              </li>
              <li class="page-item page-item-complete">
                <span class="page-item-title">
                  Location
                </span>
                <a class="page-link" href="./location-form.html">
                  <i class="fas fa-check-circle"></i>
                </a>
              </li>
              <li class="page-item page-item-complete">
                <span class="page-item-title">
                  Review
                </span>
                <a class="page-link" href="./review-form.html">
                  <i class="fas fa-check-circle"></i>
                </a>
              </li>
              <li class="page-item active">
                <span class="page-item-title">
                  Signature
                </span>
                <a class="page-link" href="./signature-form.html">5</a>
              </li>
            </ul>
          </div>
        </div>

        <h1 class="mt-1 mb-3">Signature</h1>

        <div class="row">
          <div class="col-12 col-lg-8 pb-3">
            <div class="row">
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                <button class="btn btn-primary btn-block">Sign by email</button>
              </div>
              <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <button class="btn btn-primary btn-block">Sign in person</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
