/*
 * Styles specifically for the styleguide
 * Not to be included on other sites
 */

.guide-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

@media (min-width: 576px) {
  .guide-layout {
    grid-template-columns: minmax(auto, 4fr) minmax(auto, 8fr) minmax(0, 1fr);
    grid-template-areas: "hd hd hd" "as mn ." "ft ft ft";

    &> nav {
      grid-area: hd;
    }

    &> aside {
      grid-area: as;
    }

    &> main {
      grid-area: mn;
    }

    &> footer {
      grid-area: ft;
    }
  }
}

aside {
  padding: 0.625rem;
}

main {
  padding: 0.625rem;
}

footer {
  background-color: var(--gray-dark);
  color: var(--white);
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  text-align: center;
}

[id^="section-"] {
  margin-bottom: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 2rem;
  }
}

.section-example {
  margin-top: 2rem;
}