/*
 * Customisations of Bootstrap for RMS
 */

$color-rms: #8E3233;

$theme-colors: (
  "primary": $color-rms
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/*
 * Button customisation
 */

.btn {
  padding: 0.8rem 2rem;
  font-weight: 600;

  &:hover {
    box-shadow: 0px 10px 23px -8px rgba(0,0,0,0.2);
  }
}

/*
 * Forms customisation
 */

.form-control {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

label {
  font-weight: 500;
}

/*
 * Custom Element
 * Pagination Steps Component
 *
 * - Built on existing Pagination component from Bootstrap
 */

.pagination-steps {
  justify-content: space-between;
  position: relative;

  .page-item {
    position: relative;
  }

  .page-link {
    border-radius: 0.2rem !important;
    min-width: 2.75rem;
    text-align: center;
  }

  .page-item.active .page-link {
    animation: pulse 4s infinite;
  }

  .page-item.active:hover .page-link {
    animation: none;
  }

  .page-item-complete .page-link {
    background-color: $green;
    border-color: $green;
    color: #fff;
  }

  .page-item-incomplete .page-link {
    background-color: $orange;
    border-color: $orange;
    color: #fff;
  }

  &:after {
    border-bottom: 1px solid $gray-400;
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 lighten($color-rms, 50%);
  }
  70% {
    box-shadow: 0 0 0 8px lighten($color-rms, 50%);
  }
  500% {
    box-shadow: 0 0 0 0 lighten($color-rms, 50%);
  }
}