/*
 * Customisations of Bootstrap for RMS
 */

$color-rms: #8E3233;

$theme-colors: (
  "primary": $color-rms
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/*
 * Button customisation
 *
 * - Raise the height and width of all buttons
 * - Bolden all buttons
 * - Add a shadow that appears on hover (to add depth)
 */

.btn {
  padding: 0.8rem 2rem;
  font-weight: 600;

  &:hover {
    box-shadow: 0px 10px 23px -8px rgba(0,0,0,0.2);
  }
}

/*
 * Forms customisation
 *
 * - Raise the height of the inputs to match the height of the buttons
 * - Bolden all form labels
 */

.form-control {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  height: calc(3.1rem + 2px);
}

label {
  font-weight: 500;
}

/*
 * Tables customisation
 *
 * - Align all content to be vertically centered
 */

.table th,
.table td {
  vertical-align: middle;
}

/*
 * Custom Element
 * Pagination Steps Component
 *
 * - Built on existing Pagination component from Bootstrap
 */

.pagination-steps {
  justify-content: space-between;
  position: relative;

  .page-item {
    position: relative;
  }

  .page-link {
    border-radius: 0.2rem !important;
    min-width: 2.75rem;
    text-align: center;
  }

  .page-item.active .page-link {
    animation: pulse 4s infinite;
  }

  .page-item.active:hover .page-link {
    animation: none;
  }

  .page-item-complete .page-link {
    background-color: $green;
    border-color: $green;
    color: #fff;
  }

  .page-item-incomplete .page-link {
    background-color: $orange;
    border-color: $orange;
    color: #fff;
  }

  &:after {
    border-bottom: 1px solid $gray-400;
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 lighten($color-rms, 50%);
  }
  70% {
    box-shadow: 0 0 0 8px lighten($color-rms, 50%);
  }
  500% {
    box-shadow: 0 0 0 0 lighten($color-rms, 50%);
  }
}

/*
 * Card Radio
 */

.card-radio {
  .card {
    cursor: pointer;
  }

  &> .card-radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &> .card-radio-input:checked ~ .card {
    background-color: $color-rms;
    color: #fff;
  }
}

/*
 * Basic re-styling of Select2 rendered boxes
 * Possible that not all scenarios covered, so may be some problems.
 */

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple {
  height: calc(3.1rem + 2px);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-bottom: 0.675rem;
  padding-top: 0.675rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-search--inline {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

