/*
 * Customisations of Bootstrap for RMS
 */

$color-rms: #8E3233;

$theme-colors: (
  "primary": $color-rms
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/*
 * Button customisation
 *
 * - Raise the height and width of all buttons
 * - Bolden all buttons
 * - Add a shadow that appears on hover (to add depth)
 */

 .btn {
  padding: 0.8rem 2rem;
  font-weight: 600;

  &:hover {
    box-shadow: 0px 10px 23px -8px rgba(0,0,0,0.2);
  }
}

/*
 * Forms customisation
 *
 * - Raise the height of the inputs to match the height of the buttons
 * - Bolden all form labels
 */

$rms-input-height: calc(3.1rem + 2px);
$rms-input-padding: 0.75rem;

label:not(.custom-control-label) {
  font-weight: 500;
}

.form-control {
  padding-bottom: $rms-input-padding;
  padding-top: $rms-input-padding;
  height: $rms-input-height;
}

.form-control-plaintext {
  padding-bottom: $rms-input-padding;
  padding-top: $rms-input-padding;
}

// styling the custom file input is a lot more fiddly
.custom-file {
  height: $rms-input-height;
}

.custom-file-input {
  height: $rms-input-height;
}

.custom-file-label {
  height: $rms-input-height;
  padding-bottom: $rms-input-padding;
  padding-top: $rms-input-padding;

  &::after {
    height: 3.1rem;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }
}

.custom-select {
  height: $rms-input-height;
  padding-bottom: $rms-input-padding;
  padding-top: $rms-input-padding;
}

/*
 * Sticky sidebar nav
 */

@supports (position: sticky) {
  .nav-sidebar-sticky {
    // this has so-so browser support, but it falls back gracefully on older browsers
    position: sticky;
    top: calc(1rem + 66px);
  }
}

/*
 * Tables customisation
 *
 * - Align all content to be vertically centered
 */

.table th,
.table td {
  vertical-align: middle;
}

/*
 * Custom Element
 * Pagination Steps Component
 *
 * - Built on existing Pagination component from Bootstrap
 */

.pagination-steps {
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;

  &.has-titles {
    margin-top: calc(1rem + 30px);
  }

  .page-item {
    position: relative;
  }

  .page-item-title {
    color: $color-rms;
    font-size: 10px;
    font-weight: 500;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translatey(-105%) translatex(-50%);
    width: 100%;
    z-index: 2;
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    .page-item-title {
      font-size: 12px;
      width: 150%;
    }
  }

  .page-link {
    border-radius: 0.2rem !important;
    min-width: 2.75rem;
    text-align: center;
  }

  .page-item.active .page-link {
    animation: pulse 2s infinite;
  }

  .page-item.active:hover .page-link {
    animation: none;
  }

  .page-item-complete .page-link {
    background-color: $green;
    border-color: $green;
    color: #fff;
  }

  .page-item-incomplete .page-link {
    background-color: $orange;
    border-color: $orange;
    color: #fff;
  }

  &:after {
    border-bottom: 1px solid $gray-400;
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($color-rms, 0.4);
  }
  70% {
      box-shadow: 0 0 0 10px rgba($color-rms, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($color-rms, 0);
  }
}

/*
 * Card Radio
 */

.card-radio {
  .card {
    cursor: pointer;
  }

  &> .card-radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &> .card-radio-input:checked ~ .card {
    background-color: $color-rms;
    color: #fff;
  }
}

/*
 * Basic re-styling of Select2 rendered boxes
 * Possible that not all scenarios covered, so may be some problems.
 */

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  height: $rms-input-height;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(3rem + 2px);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-bottom: 0.675rem;
  padding-top: 0.675rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-search--inline {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-color: $gray-400;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: lighten($color-rms, 25%);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba($color-rms, .25);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-rms;
  color: #fff;
}

/*
 * Utility classes
 */

.flex-grow-1 {
  flex-grow: 1;
}

hr {
  border-top-color: $color-rms;
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  hr.m {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  hr.l {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}
